[Unit]
Description=Temperature and Humidity Sensor
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/temperature-sensor/venv/bin/python /home/pi/temperature-sensor/temperature.py
#ExecStart=python /home/pi/temperature-sensor/test.py

[Install]
WantedBy=multi-user.target
